<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= tittle %></title>
    <%- include('partials/lnk')%>
  </head>
  <body>
    <%- include('partials/navigator')%>
    <div class="container container--arreglo">
      <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quasi,
        nisi veniam velit sequi deleniti deserunt eius, praesentium ipsam
        cupiditate dicta dolore nobis quaerat doloribus molestias incidunt iure
        ipsa ab nostrum in ipsum consequatur pariatur? Repellendus nemo placeat
        ipsum incidunt reprehenderit possimus velit. Corporis ea numquam quam
        at, adipisci praesentium magnam ipsum, ab temporibus est voluptatum fuga
        obcaecati pariatur voluptate nesciunt ratione id sequi quaerat voluptas!
        Velit deserunt esse animi explicabo quis! Distinctio obcaecati
        consectetur aspernatur dolorem odit quia consequatur error! Esse optio
        dicta, ullam provident quasi nemo cupiditate quo at tenetur fugit
        excepturi sunt consequuntur reprehenderit repellendus praesentium,
        minima, quam consectetur libero porro. Mollitia aliquam quia aspernatur
        adipisci, nemo veniam quas porro obcaecati quis reprehenderit vero
        pariatur, ratione necessitatibus, expedita ipsam deleniti voluptates ad
        veritatis! Quidem, inventore. Dolores eum fugiat enim voluptate ad
        corrupti, autem qui unde placeat earum nihil, amet optio. Itaque magnam
        adipisci quod accusantium nam consequatur illo rerum recusandae
        doloremque. Sit tempore perferendis architecto amet fugiat ipsum
        dignissimos, fuga doloribus et, impedit natus rerum alias voluptates.
        Accusamus recusandae reprehenderit, doloribus sit voluptate voluptatem
        quae est ea possimus autem eius fuga non magnam temporibus accusantium
        natus laborum corporis tempora eos sequi exercitationem neque, facere
        voluptas pariatur? Ex, neque quod sequi temporibus enim illum accusamus?
        Quis quidem dolore nobis voluptatum perspiciatis cum illum soluta,
        suscipit magnam ipsa quae amet error corporis non iure sapiente sint
        quasi repellat optio. Ex autem cum, cupiditate voluptatum quam
        necessitatibus veniam deserunt eligendi ab corrupti. Voluptatem
        aspernatur blanditiis cumque voluptates ex. Unde eius hic nisi saepe
        aspernatur mollitia, error iure nulla asperiores, dolorum ex! Ratione
        hic, id ut delectus voluptatum placeat et quod consequatur aliquam
        distinctio aspernatur dolor dolorem ipsa explicabo non cupiditate itaque
        iusto assumenda ad labore! Doloribus laudantium corporis repudiandae in,
        quis sed atque nam, eius voluptatum animi soluta saepe! Sed.</p>
    </div>
  </body>
</html>
